.home {
  display: flex;
  flex-direction: column;
  margin-top:30px;
  gap: 30px;
  .heading{
    margin:auto;
  }
  .add {
    .link {
      text-decoration: none;
      color: black;
    }
  }
 
  .filters {
    display:flex;
    gap:150px;
    margin-left:300px;
    
    align-items: start;
     .total{
    border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 5px;
      padding:10px;
      -webkit-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
      -moz-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
      box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
    width:250px;
    max-height:50px;
    padding-x:20px;
    border-radius:5px;
    span{
font-weight:bold;
    }
  }
    input {
      width: 600px;
      height: 50px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 5px;
      padding:10px;
      -webkit-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
      -moz-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
      box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
    }
    .wishList{
      display:flex;
      flex-direction:column;
      gap:10px;
      button{
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        padding:10px;
        -webkit-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        -moz-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        background-color:white;
      }
      .wishlist-container{
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
        padding:10px;
        -webkit-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        -moz-box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        box-shadow: 1px 1px 8px 0px rgba(110, 98, 110, 1);
        background-color:white;
        
      }
    }
  }
  .books {
    display: flex;
    flex-direction: column;
    width:800px;
        margin:auto;
    gap: 20px;
    h1{
        margin:auto;
    }
    .table {
        -webkit-box-shadow: 1px 1px 5px 0px rgba(145,132,145,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(145,132,145,1);
box-shadow: 1px 1px 5px 0px rgba(145,132,145,1);
        
      tr {
        
        border: 1px solid black;
        border-radius: 5px;
        th {
            width:100vw;
          border: 1px solid black;
          padding: 10px;
          text-align: center;
        }
        td {
          border: 1px solid black;
          padding: 10px;
          text-align: center;
        }
      }
    }
    .btnsDiv{
    display: flex;
    width:900px;
    margin-left:250px;
    gap:30px;
    
   
}
  }
}

.navbar{
  margin:auto;
}
.addBtn{
        border:none;
  background: #3a86ff;
  color:white;
  padding:10px;
  border-radius: 5px;
  width:100px;
    }

